<header>
  <!--span>{{screamIt pageTitle}}</span-->
<span>My Amazing Site &nbsp &nbsp &nbsp &nbsp</span>
<span><a href="/">Home</a></span>
<span>&nbsp &nbsp</span>
<span><a href="/about">About</a></span>
<span>&nbsp &nbsp</span>
<span><a href="/projects">My projects</a></span>
</header>
